
body {

  font-family: 'Poppins', sans-serif;
  font-family: 'Prosto One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/*   background-color: #2ec1aba2; */
  background: linear-gradient(to right,#D2E603, #2EC1AC);
  color:#04473f;
  height: 100%;

} 
  a {
    text-decoration: none;
    color:#0a2421;
  }
h2, h3{
margin: 20px;
  color:#034d44;
  text-align: center;
}
h6 {
  color:rgb(90, 92, 88);
  font-size: 10px;
}
code {
font-family: 'Poppins', sans-serif;
font-family: 'Prosto One', cursive;
}
